<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <title>tiy-database-with-csv</title>
  <link rel="stylesheet" href="screen.css">
</head>
  <body>
  <h1> Here is the report you asked for!</h1>
     <% @personnel.sort_by{ |person| person.name}.each do |person|%>
     <table>
       <tr>
         <th>Name</th>
         <th>address</th>
         <th>phone</th>
       </tr>
       <tr>
         <td><%= person.name %></td>
         <td><%= person.address %></td>
         <td><%= person.phone %></td>
       </tr>
       <tr>
         <th>Position</th>
         <th>Salary</th>
       </tr>
       <tr>
         <td><%= person.position %></td>
         <td><%= person.salary %></td>
       </tr>
       <tr>
         <th>Slack Account</th>
         <th>Github Account</th>
       </tr>
       <tr>
         <td><%= person.slack %></td>
         <td><%= person.github %></td>
       </tr>
     </table>
    <% end %>
  </body>
</html>
